<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    
    <!-- إذن إشعارات Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<!-- إنترنت -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- (اختياري) لإشعار دائم عند تشغيل خدمة أمامية -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:label="خدمات راتلوزن"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Smm.NoActionBar">

        <!-- خدمة FCM لاستقبال الإشعارات حتى لو التطبيق مُغلق -->
        <service
            android:name=".MyFirebaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
